.BlogAndNews {
  margin: 50px 0px;
}

.BlogAndNews > h4 {
  color: rgba(42, 167, 255, 1);
  font-size: 16px;
  font-weight: 600;
  line-height: 27px;
  text-align: center;
}

.BlogAndNews > h1 {
  color: rgba(27, 60, 116, 1);
  font-size: 48px;
  font-weight: 600;
  line-height: 67px;
  text-align: center;
  margin-bottom: 30px;
}

.blogs {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

.card {
  width: 363px;
  border: 1px solid rgba(0, 0, 0, 0.07);
  border-radius: 0px, 0px, 10px, 10px;
}

.content {
  padding: 0px 15px 15px 15px;
}

.content > h5 {
  color: rgba(119, 130, 157, 1);
  font-size: 16px;
  font-weight: 500;
  line-height: 27px;
  margin: 5px 0px;
}

.content > h5 > span {
  color: rgba(221, 221, 221, 1);
  margin: 0px 5px;
}

.content > h3 {
  color: rgba(27, 60, 116, 1);
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
}

.editor {
  display: flex;
  align-items: center;
}

.content > div {
  margin: 5px 0px;
}

.content > div > img {
  width: 32px;
  height: 32px;
  margin-right: 15px;
}
.content > div > h4 {
  color: rgba(27, 60, 116, 1);
  font-size: 17px;
  font-weight: 500;
  line-height: 27px;
}

@media screen and (max-width: 480px) {
  .BlogAndNews {
    margin: 30px 0px;
  }

  .BlogAndNews > h4 {
    font-size: 16px;
    line-height: 20px;
  }

  .BlogAndNews > h1 {
    font-size: 28px;
    line-height: 34px;
    margin-bottom: 20px;
  }

  .blogs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }

  .card {
    width: 300px;
  }

  .card > img {
    width: 100%;
  }
}
