.DownloadSection {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background: linear-gradient(
    81deg,
    #e7f0ff 9.01%,
    rgba(232, 241, 255, 0.47) 89.11%
  );
  padding-top: 40px;
}

.DownloadSection > div > h2 {
  color: rgba(27, 60, 116, 1);
  font-size: 48px;
  font-weight: 600;
  line-height: 67px;
  width: 338px;
  margin: 30px 0px;
}

.DownloadSection > div > h2 > span {
  color: rgba(42, 168, 255, 1);
}

.DownloadSection > div > p {
  color: rgba(65, 65, 70, 1);
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}

.input-button {
  display: flex;
  align-items: center;
}

.input {
  margin: 10px 0px;
  border: 1px solid rgba(240, 240, 240, 1);
  background-color: #fff;
  display: flex;
  align-items: center;
  width: 390px;
}

.input > div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 49px;
  border-right: 1px solid rgba(180, 180, 190, 0.3);
}
.input > input {
  height: 49px;
  padding: 0px 20px;
}

.Send-SMS {
  background: rgba(42, 168, 255, 1);
  width: 120px;
  height: 50px;
  border-radius: 8px;
  margin: 15px;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #fff;
}


.apple-google{
    margin: 35px 0px;
    display:flex ;
    gap: 20px;
    cursor: pointer;
}

.apple-google > img{
    width: 224px;
    height: 69px;
    cursor: pointer;
}











@media screen and (max-width: 480px) {
  .DownloadSection {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
  }
  
  .mobile{
    display: none;
  }
  .downarrow{
    display: none;
  }

  .DownloadSection > div > h2 {
    color: rgba(27, 60, 116, 1);
    font-size: 22px;
    font-weight: 600;
    line-height: 30px;
    width: 320px;
    margin: 10px 0px;
  }
  

  
  .DownloadSection > div > p {
    color: rgba(65, 65, 70, 1);
    font-family: "Lato", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
  }
  
  .input-button {
    display: flex;
    align-items: center;
  }
  
  .input {
    margin: 10px 0px;
    width: 220px;
  }
  
  .input > div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 49px;
    border-right: 1px solid rgba(180, 180, 190, 0.3);
  }

  .input > input {
    height: 49px;
    padding: 0px 20px;
    width: 100%;
  }
  
  .Send-SMS {
    background: rgba(42, 168, 255, 1);
    width: 80px;
    height: 50px;
    margin: 15px;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.01em;
  }
  
  
  .apple-google{
      margin: 15px 0px;
      display:flex ;
      justify-content: center;
      gap: 10px;
  }
  
  .apple-google > img{
      width: 120px;
      height: 50px;
  }
  
  
}