.blueSection {
  height: 96px;
  background: linear-gradient(91.75deg, #2aa7ff 1.4%, #0c8ce6 100.57%);
  border-radius: 0px 0px 16px 16px;
  color: rgba(255, 255, 255, 1);
  font-family: Ubuntu;
  font-size: 40px;
  font-weight: 700;
  line-height: 45.96px;
  display: flex;
  align-items: center;
  padding: 0px 100px;
}

.floating-form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  margin: 50px 0px;

  border: 1px solid rgba(240, 240, 240, 1);
  width: 1170px;
  background: rgba(255, 255, 255, 1);
  box-shadow: 6px 6px 35px 0px rgba(16, 40, 81, 0.11);
  border-radius: 15px;
  position: absolute;
  left: 0;
  right: 0;
  top: 170px;
  margin: auto;
  padding: 25px 0px;
}

.medicalCenters {
  padding: 170px 100px;
  background: linear-gradient(
    81deg,
    #e7f0ff 9.01%,
    rgba(232, 241, 255, 0.47) 89.11%
  );
  display: flex;
  justify-content: center;
  gap: 40px;
}




.medicalCenters > img {
  width: 400px;
  height: 300px;
  margin: 80px 0px;
}

.medicalCenters > div >  h1 {
  width: 786px;
  height: 269px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.info> h1 {
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  color: rgba(0, 0, 0, 1);
}

.info > h6 {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: rgba(120, 120, 135, 1);
  display: flex;
  align-items: center;
  gap: 25px;
  margin-bottom: 20px;
}

.Nothing {
  width: 100%;
  height: 80vh;
  background: linear-gradient(
    81deg,
    #e7f0ff 9.01%,
    rgba(232, 241, 255, 0.47) 89.11%
  );
  display: flex;
  align-items: center;
  justify-content: center;
}




@media screen and (max-width: 480px) {
  .floating-form {
    flex-direction: column;
    gap: 15px;
    width: 320px;
    top: 200px;
    padding: 15px;
  }




  .medicalCenters {
    padding: 170px 0px;
    display: flex;
    justify-content: center;
    gap: 0px;
    width: 100%;
  }
  
  
  
  
  .medicalCenters > img {
    /* width: 400px;
    height: 300px;
    margin: 80px 0px; */
    display: none;
  }
  .medicalCenters > div {
    /* width: 400px;
    height: 300px; */
    margin: 0px 0px;
    width: 100%;
  }
  
  .medicalCenters > div >  h1 {
    width: 300px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .info{
    text-align: center;

  }
  
  .info> h1 {
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    color: rgba(0, 0, 0, 1);
  }
  
  .info > h6 {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: rgba(120, 120, 135, 1);
    display: flex;
    align-items: center;
    gap: 0px;
    margin-bottom: 20px;
    margin: auto;
    width: 310px;
  }
  
  .Nothing {
    width: 100%;
    height: 80vh;
    background: linear-gradient(
      81deg,
      #e7f0ff 9.01%,
      rgba(232, 241, 255, 0.47) 89.11%
    );
    display: flex;
    align-items: center;
    justify-content: center;
  }
  

}