.FooterSection {
  background: rgba(27, 60, 116, 1);
  width: 100%;
  padding: 40px 80px;
}

.footer {
  display: flex;
  width: 100%;
}

.footerlogo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 200px;
}

.footerlogo > img {
  width: 126px;
  height: 36px;
  margin-top: 40px;
}

.footerlogo > div {
  display: flex;
  gap: 20px;
}

.col-1 {
  width: 231px;
  display: flex;
  flex-direction: column;
  color: rgba(255, 255, 255, 1);
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  padding-top: 40px;
  margin: 0 30px;
}

.col-1 > i {
  margin: 5px 5px 5px 5px;
}

.arrow {
  width: 10px;
  height: 15px;
  margin-right: 20px;
  margin-bottom: 5px;
}

.copyright{
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  height: 58px;
  margin-top: 50px;
}


.copyright p{
  margin-top: 30px;
  color: rgba(255, 255, 255, 1);
}







@media screen and (max-width: 480px) {
  .FooterSection {
    background: rgba(27, 60, 116, 1);
    width: 100%;
    padding: 30px 5px;
  }
  
  .footer {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .footerlogo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    margin-right: 0px;
  }
  
  .footerlogo > img {
    display: flex;
    margin: auto;
    width: 126px;
    height: 36px;
    margin-top: 10px;
  }
  
  .footerlogo > div {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  
  .col-1 {
    width: 231px;
    display: flex;
    flex-direction: column;
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    padding-top: 40px;
    margin: 0 30px;
  }
  
  .col-1 > i {
    margin: 5px 5px 5px 5px;
  }
  
  .arrow {
    width: 10px;
    height: 15px;
    margin-left: 60px;
    margin-right: 20px;
    margin-bottom: 5px;
  }
  
  .copyright{
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    height: 58px;
    margin-top: 50px;
  }
  
  
  .copyright p{
    margin-top: 30px;
    color: rgba(255, 255, 255, 1);
    text-align: center;
  }

  .sm{
    display: none;
  }
  
}